/* Apply styles to the body element for the background color */
body {
    background-color: #bf40bf; /* Bright purple color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Set a font-family */
}

/* Apply styles to the text content */
h1 {
    color: #ffff00; /* Bright yellow color */
    font-family: 'Snell Roundhand', cursive;
}
h2, p {
    color: #ffff00; /* Bright yellow color */
    font-family: Trattatello, fantasy;
}



.container {
    display: flex;
    justify-content: space-between;
}

.step {
    flex-basis: 48%; /* Adjust as needed to control the width of each step */
}

.requirements {
    color: #ff6dff;
    flex-basis: 30%; /* Adjust as needed to control the width of the requirements */
    margin-top: 20px; /* Add spacing between the steps and requirements */
    font-size: 16px; /* Adjust font size as needed */
}

.requirements h3 {
    transform: rotate(-90deg); /* Rotate the text vertically */
    transform-origin: right bottom; /* Adjust the origin for rotation */
    white-space: nowrap; /* Prevent text wrapping */
    margin-right: 10px; /* Add spacing between rotated text and list */
}

.requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.requirements li {
    margin-bottom: 10px; /* Add spacing between list items */
}
